

    <!-- Video Banner -->
    <div class="container-fluid gx-0 video-container position-relative">
        <video autoplay loop muted src="/images/vedio.mp4"></video>
        <div class="container-fluid text-overlay position-absolute translate-middle-y">
            <h1>Spring Summer</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eaque ducimus nisi.</p>
            <p class="secondline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, distinctio!</p>
            <a class="Discover" href="/products">Discover now</a>
        </div>
    </div>

    <!-- New Arrivals Section -->
    <div class="container-fluid text-center py-5 arrivals">
        <h1>NEW ARRIVALS</h1>
        <a href="#">VIEW ALL</a>
    </div>

    <!-- Product Slider -->
    <div class="container-fluid">
        <div class="slider-wrapper">
            <div class="image-container">
                <div class="image-box">
                    <img class="image1" src="/images/product.webp" alt="Image 1">
                    <p class="image1p">suit1</p>
                </div>
                <div class="image-box">
                    <img src="/images/product2.webp" alt="Image 2">
                    <p>sui2</p>
                </div>
                <div class="image-box">
                    <img src="/images/product3.webp" alt="Image 3">
                    <p>suit3</p>
                </div>
                <div class="image-box">
                    <img src="/images/product3.webp" alt="Image 3">
                    <p>suit4</p>
                </div>
                <div class="image-box">
                    <img src="/images/product3.webp" alt="Image 3">
                    <p>suit5</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Somerset Story Section -->
    <div class="container-fluid storiesmenu">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>SOMERSET</h1>
                </div>
                <div class="col-12 col-lg-4 py-5">
                    <p>Our Value system</p>
                    <h1 class="topic"><span>THE<br>SHIRE</span></h1>
                    <p class="story">
                        The Temperley ethos was born and raised in the green hills of Somerset.
                        A childhood played out on Burrow Hill cider farm shaped our deep oneness
                        with the landscape, its fruits, and the work of its people.
                    </p>
                </div>
                <div class="col-12 col-lg-4 py-5">
                    <img class="image" src="/images/SHIRE.jpg" alt="">
                </div>
                <div class="col-12 col-lg-4 py-5">
                    <p class="aboutus">Our Value system</p>
                </div>
            </div>
        </div>
    </div>



<main>
    <!-- Product Animation -->
    <div class="container-fluid productanimation">
        <div class="container">
            <hr class="storysep">
            <h1 class="text-center">Temperleylondon</h1>
        </div>
    </div>

    <!-- Footer Images Slider -->
    <div class="container-fluid">
        <div class="slider-wrapper">
            <div class="footimages">
                <div class="image-box">
                    <img class="image1" src="/images/foot1 (1).jpg" alt="">
                </div>
                <div class="image-box">
                    <img src="/images/foot1 (2).jpg" alt="">
                </div>
                <div class="image-box">
                    <img src="/images/foot1 (3).jpg" alt="">
                </div>
                <div class="image-box">
                    <img src="/images/foot1 (4).jpg" alt="">
                </div>
                <div class="image-box">
                    <img src="/images/foot1 (5).jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <div class="container-fluid courierimage-cointainer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 py-5">
                    <img src="/images/pngtree-fast-delivery-icon-delivery-icon-png-image_2047531.jpg" alt="">
                    <p>Easy Returns <br>& Free Exchanges</p>
                </div>
                <div class="col-12 col-lg-4 py-5">
                    <img src="/images/pngtree-fast-delivery-icon-delivery-icon-png-image_2047531.jpg" alt="">
                    <p>Free Worldwide <br>Shipping over $650</p>
                </div>
                <div class="col-12 col-lg-4 py-5">
                    <img src="/images/pngtree-fast-delivery-icon-delivery-icon-png-image_2047531.jpg" alt="">
                    <p>Buy Now Pay Later <br>With Klarna</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter Section -->
    <div class="container-fluid content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 py-5">
                    <h1>JOIN THE TRIBE</h1>
                    <p>A world so seductive, so magical, you can’t help wanting to be part of its sepia-toned wonderfulness the moment you enter it.</p>
                    <p>-VOGUE</p>
                    <p class="NEWS">Newsletter</p>
                    <p class="signline">
                        Sign up for our newsletter and enjoy collection previews, new arrivals, events, and other exclusive offers.
                    </p>
                    <input type="email" placeholder="Enter your email address*" required>
                    <a class="signup" href="#">SIGN UP</a>
                </div>
                <div class="col-12 col-lg-6 py-5">
                    <img src="/images/JOIN_THE_TRIBE.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</main>


