<h1>Simple Product Page</h1>

<form action="/add-to-cart" method="post">
  <input type="text" name="title" value="Test Product">
  <input type="number" name="price" value="99.99">

  <input type="number" name="quantity" value="1" min="1" style="width: 50px;">
  <button type="submit">Add to Cart</button>
</form>
